@{ 
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul>
    <li>@Html.ActionLink("English", "Change", "Language", new { LanguageAbbrevation = "en" },null) </li>
    <li>@Html.ActionLink("Suomi", "Change", "Language", new { LanguageAbbrevation = "fi" }, null) </li>
</ul>
