@{
    ViewBag.Title = DocSite.Resources.Manage.ForgotPwConfirmation;
}

<hgroup style="margin-top:4em;" class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>
<hr />
<div style="margin-bottom:23em;">
    <p>
        @DocSite.Resources.Manage.CheckEmail
    </p>
</div>
	
