@{
    ViewBag.Title = "Reset password confirmation";
}
<body class="documents-body">
    <div style="margin-top: 1em;">
        <h4>
            @DocSite.Resources.Manage.YourPwReset @Html.ActionLink(DocSite.Resources.Manage.ClickHereLogin, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", style= "color: white;" })
        </h4>
    </div>
</body>