<div class="clear"></div>
<div class="footer col-sm-12">
    <img class="footer-logo" src="~/Pictures/logo-footer.svg" alt="Alternate Text" /> <br />
    Köydenpunojankatu 8, 00180 Helsinki <br />
    @DocSite.Resources.Resources.PhoneNumber<br />
    info[at]timehouse.fi <br />
    <a href="http://www.timehouse.fi" style="color:white;text-decoration:underline;">www.timehouse.fi</a>
</div>